In [1]:
ls

 Volume in drive C is Acer
 Volume Serial Number is D45B-9DAD

 Directory of C:\Users\Sirjan Bhalla\Downloads\ML\Naive Bayes\uci news aggregator

02-03-2021  10:18 AM    <DIR>          .
02-03-2021  10:18 AM    <DIR>          ..
01-03-2021  11:06 AM    <DIR>          .ipynb_checkpoints
02-03-2021  10:18 AM            18,143 UCI news aggregator Na‹ve Bayes.ipynb
01-03-2021  11:56 AM       102,004,506 uci-news-aggregator.csv
               2 File(s)    102,022,649 bytes
               3 Dir(s)  211,776,278,528 bytes free

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('uci-news-aggregator.csv')
df.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
0,1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1.394470e+12
1,2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1.394470e+12
2,3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1.394470e+12
3,4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1.394470e+12
4,5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1.394470e+12

In [4]:
df.CATEGORY.value_counts()

e    152469
b    115968
t    108344
m     45639
Name: CATEGORY, dtype: int64

In [5]:
data = " Hi Whats up ,# I am going to buy,$ Blackberry's Product by '2021'"

In [6]:
d1 = data.lower()
d1

" hi whats up ,# i am going to buy,$ blackberry's product by '2021'"

In [7]:
# Regular xpresssion (RE)
import re

In [8]:
d2 = re.sub('\s\W', ' ', d1)
d2

" hi whats up # i am going to buy,$ blackberry's product by 2021'"

In [9]:
d3 = re.sub('\W\s', ' ', d2)
d3

" hi whats up  i am going to buy, blackberry's product by 2021'"

In [10]:
d4 = re.sub('\s+', ' ', d3)
d4

" hi whats up i am going to buy, blackberry's product by 2021'"

In [11]:
# Define a function to normalize the text

def normalize_text(s):
    s = s.lower()
    
    # remove punctuation that is not word-internal (e.g., hyphens, apostrophes)
    s = re.sub('\s\W',' ',s)
    s = re.sub('\W\s',' ',s)
    
    # make sure we didn't introduce any double spaces
    s = re.sub('\s+',' ',s)
    
    return s

In [12]:
df['TEXT'] = [normalize_text(s) for s in df['TITLE']]

In [13]:
df['TEXT']

0         fed official says weak data caused by weather ...
1         fed's charles plosser sees high bar for change...
2         us open stocks fall after fed official hints a...
3         fed risks falling behind the curve' charles pl...
4         fed's plosser nasty weather has curbed job growth
                                ...
422415    boy to have surgery on esophagus after battery...
422416    child who swallowed battery to have reconstruc...
422417    phoenix boy undergoes surgery to repair throat...
422418    phoenix boy undergoes surgery to repair throat...
422419                                        i am salesman
Name: TEXT, Length: 422420, dtype: object

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
x = vectorizer.fit_transform(df['TEXT'])
x

<422420x54636 sparse matrix of type '<class 'numpy.int64'>'
	with 3747861 stored elements in Compressed Sparse Row format>

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y=encoder.fit_transform(df['CATEGORY'])
#alphabetically assigns the numbers

In [16]:
# train and test split

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(x,y, random_state=123)

In [17]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(x_test.shape)

(316815, 54636)
(105605, 54636)
(316815,)
(105605, 54636)

In [18]:
# Fitting the Machine Learning model

from sklearn.naive_bayes import MultinomialNB 

nb= MultinomialNB()
nb.fit(x_train,y_train)

MultinomialNB()

In [19]:
nb.score(x_test,y_test)

0.9267932389564888

In [20]:
# from sklearn.naive_bayes import GaussianNB
# gnb1=GaussianNB()
# gnb1.fit(x_train,y_train)
# y_pred=gnb1.predict(x_test)
# from sklearn import metrics
# metrics.accuracy_score(y_test,y_pred)

# Predicting the Accuracy by manual process

In [21]:
from sklearn.metrics import classification_report
from sklearn import metrics

In [22]:
matrix=metrics.confusion_matrix(y_test,nb.predict(x_test))

In [23]:
matrix

array([[26085,   530,   432,  1937],
       [  489, 36780,   203,   667],
       [  423,   340, 10410,   203],
       [ 1756,   483,   268, 24599]], dtype=int64)

# Creating a function to test the model

In [24]:
def pred_cat(title):
    cat_names = {'b':'Business', 't':'Technology','e':'Entertainment', 'm':'Mental Health'}
    cod = nb.predict(vectorizer.transform([title]))
    return cat_names[encoder.inverse_transform(cod)[0]]

In [25]:
print(pred_cat("Samsung Galaxy E02 support page goes live, could launch in India soon"))

Technology

In [26]:
print(pred_cat("Thousands of U.S. military personnel are refusing or delaying COVID-19 vaccination, even as service members are being deployed to help give shots at vaccination centers nationwide."))

Mental Health

In [27]:
print(pred_cat("Fuel prices hold  steady for 2nd consecutive day after Saturdays record high"))

Business

In [28]:
print(pred_cat("I am salesman"))

Technology

In [29]:
print(pred_cat("""Three months after rocketing to the top of the Billboard 200, BTS’s BE is set to return to the chart’s Top 10 thanks to its “Essential Edition” re-release.

The Korean pop septet released BE (Essential Edition) last Friday, packaging a CD copy of the album with a 140-page photobook, two different types of photocards and a poster for roughly $30. The album rebounded to No. 7 on HITS Daily Double’s weekly chart with 32,653 album-equivalent units, of which 24,940 were pure sales (denoting physical albums and digital downloads). It’s a solid indicator of what to expect on next week’s Billboard 200, and when the chart refreshes on Tuesday, BE should be similarly ranked."""))

Entertainment

In [30]:
print(pred_cat("""BTS performed several BE songs during their rapturously received MTV Unplugged set on Tuesday. They reworked smash hits “Dynamite” and “Life Goes On” while giving album cuts “Telepathy” and “Blue & Grey” their live debuts."""))

Entertainment